h1 {
  margin: 5px;
  /* color: #ff3e00; */
  text-align: center;
  /* font-weight: 100; */
}

h2 {
  margin: 10px 5px;
}


body {
  background: #262626;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#parameters {
  background: #1e1e2e;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  overflow: scroll; 
  min-width: 225px;
  max-width: 250px;
  max-height: 600px;
  flex-shrink: 4;
}
#draw_box {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  overflow: visible;
  flex-shrink: 1;
  background: #1e1e2e;
}

#plots_box {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  overflow: visible;
  flex-shrink: 1;
  background: #1e1e2e;
}

canvas {
  background: black;
  width: 100%;
  height: 100%;
  margin: 0;
}

label {
  font-size: 0.8em;
}

.iso_value {
  font-size: 0.8em;
  margin: 0;
  text-align: start;
}

.remove_iso_value:hover {
  color: red;
  transition: ease-in-out 0.1s;
}

